.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 80px;
  height: 100%;
  background-color: var(--grey);
}
.site-header .brand-name {
  padding: 3em 0;
}
.site-header .brand-name a {
  display: block;
  font-size: 12px;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  transform: rotate(-90deg);
}
.site-header .brand-icon {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  background: #fff;
}
.site-header .brand-icon .icon img {
  min-width: 2em;
}

.my-menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  width: 48px;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 10px;
  cursor: pointer;
}
.menu-trigger span {
  display: inline-flex;
  width: 30px;
  height: 3px;
  background-color: var(--black);
  transition: all ease 0.5s;
}
.menu-trigger span:nth-child(2) {
  width: 40px;
}
.menu-close span {
  position: absolute;
  background-color: var(--black);
}
.menu-close span:nth-child(1) {
  transform: rotate(45deg);
}
.menu-close span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu-close span:nth-child(2) {
  opacity: 0;
  height: 0;
  width: 0;
}
