.titleBar {
  width: auto;
  max-width: 300px;
  display: block;
  position: relative;
  color: #fff;
  padding: 0.5em 1.5em;
  line-height: 0.2;
  box-shadow: 10px 15px 30px 2px rgba(0, 0, 0, 0.4);
}
